body
{

}
#container1
{
	display:flex;
	justify-content: space-around;
}
img
{
	width: 15%;
	align-self: center;
	margin-top: 10%;

	border: 1px solid ;
	border-radius: 50%;

}


//basic 2

#container2
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;


	.b2, .b1
	{
		width: 33%;
	}
}