* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif; }

header {
  background-color: black;
  padding: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header #headertext {
    font-size: 150%;
    color: white;
    border-left: 5px white solid;
    padding-left: 1%; }
  header #cart {
    width: 20%;
    cursor: pointer; }
    header #cart #cartbuttoncontent {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 1%;
      border: solid 1px white;
      border-radius: 5px 5px 0px 0px; }
      header #cart #cartbuttoncontent #cartimage {
        width: 30%;
        filter: invert(100%); }
      header #cart #cartbuttoncontent #viewcart {
        color: white; }
    header #cart #dropdowncart {
      display: none;
      flex-direction: column;
      border: solid 1px white;
      border-radius: 0px 0px 5px 5px;
      color: black;
      padding: 5%;
      background-color: white; }
      header #cart #dropdowncart #cartlist {
        font-size: 80%;
        list-style-type: none; }
        header #cart #dropdowncart #cartlist li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 1%; }
          header #cart #dropdowncart #cartlist li img {
            width: 15%; }
      header #cart #dropdowncart #totaldiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%; }
        header #cart #dropdowncart #totaldiv #totalprice {
          font-weight: bold;
          align-self: center; }
        header #cart #dropdowncart #totaldiv #checkoutbutton {
          width: 45%;
          margin-top: 3%; }
        header #cart #dropdowncart #totaldiv #clearbutton {
          width: 45%;
          margin-top: 3%; }
        header #cart #dropdowncart #totaldiv .option {
          display: flex;
          justify-content: space-around;
          width: 100%;
          margin: 1%; }

main #containerformenu #container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5% 0%;
  width: 80%;
  margin: auto; }
  main #containerformenu #container .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3% 0%;
    padding: 3% 0%;
    border: solid 1px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px grey;
    background-color: rgba(0, 0, 0, 0.1);
    width: 30%;
    transition: 0.3s; }
    main #containerformenu #container .item:hover {
      transform: scale(1.03); }
    main #containerformenu #container .item img {
      width: 40%; }
    main #containerformenu #container .item .itemName {
      font-size: 150%;
      margin: 3% 0%; }
    main #containerformenu #container .item .itemDescription {
      font-size: 100%;
      margin: 3% 0%; }
    main #containerformenu #container .item .shoppingbutton {
      width: 50%;
      height: 50px;
      border: none;
      border-radius: 10px;
      background-color: black;
      color: white;
      cursor: pointer; }

/*# sourceMappingURL=style.css.map */
